<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<%= image_tag 'タイトルロゴ.png', class:"d-block mx-auto img-fluid w-1000 shadow-lg" %>
<h1>サイト概要</h1>
<p>プログラミングを勉強する人達のための質問や自身の知識をアウトプットするためのコミュニティサイト</p>

<h2>どんな人が利用できますか？</h2>
<ul>
  <li>
    プログラミング初心者
  </li>
  <li>
    アウトプットして自身の知識を深めたいと考えている方
  </li>
</ul>

<h2>主な利用シーン</h2>
<ul>
  <li>
    プログラミング学習の際に不明点やもっと知識を深めたい時
  </li>
  <li>
    自身の知識を誰かに発信したりアウトプットすることによって学びを深めたい時
  </li>
</ul>
</div>